<header id="header" class="d-flex align-items-center navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Digital Living</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html"><img src="/src/assets/image/logo-samples-final(2).png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul> 
          <li class="active"><a href="index.html">Home</a></li>
          <li><a routerLink = "/solutions" routerLinkActive = "active">Solutions</a></li>
          <li><a routerLink = "/aboutUs" routerLinkActive = "active">About Us</a></li>
          <li><a href="#research">Research</a></li>
          <li><a href="#products">Products</a></li>
          <li><a href="#contact">Contact Us</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>