<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
  <div class="container">

    <div class="row">

      <div class="col col1">
        <img src="assets/image/brand/fibaro.png" class="img-fluid" alt="fibaro home intelligence" data-aos="zoom-in" style="width: 50%;" >
      </div>

      <div class="col col2">
        <img src="assets/image/brand/alexa.png" class="img-fluid" alt="works with alexa" data-aos="zoom-in" data-aos-delay="100" style="width: 55%;">
      </div>

      <div class="col col3">
        <img src="assets/image/brand/AppleHomeKit.png" class="img-fluid" alt="apple home kit" data-aos="zoom-in" data-aos-delay="100" style="width: 75%;">
      </div>

      <div class="col col4">
        <img src="assets/image/brand/google_assistant.png" class="img-fluid" alt="google assistant" data-aos="zoom-in" data-aos-delay="100" style="width: 70%;">
      </div>

      <div class="col col5">
        <img src="assets/image/brand/IFTTT.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
      </div>
    </div>

  </div>
</section><!-- End Clients Section -->
   
<!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
            <div class="card" data-aos="fade-up" data-aos-delay="150">
              <!-- <img src="assets/img/features-2.jpg" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <i class="bx bx-file"></i>
                <h5 class="card-title"><a href="">Clients Testimonials</a></h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0 d-flex align-items-stretch">
            <div class="card" data-aos="fade-up" data-aos-delay="150">
              <!-- <img src="assets/img/features-2.jpg" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <i class="bx bx-file"></i>
                <h5 class="card-title"><a href="">Projects</a></h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="card" data-aos="fade-up" data-aos-delay="300">
              <!-- <img src="assets/img/features-3.jpg" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <i class="bx bx-show"></i>
                <h5 class="card-title"><a href="">Events</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title" data-aos="fade-down">
          <span>What we offer</span>
          <h2>What we offer</h2>
          <p></p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="icofont-home" style="color: #5e5e5e;"></i>
              <h4><a href="#">Smart Home Intelligent Systems</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="icofont-building" style="color: #5e5e5e;"></i>
              <h4><a href="#">Smart Building Automation Systems</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <i class="icofont-cc-camera" style="color: #5e5e5e;"></i>
              <h4><a href="#">Surveillance Tech</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <i class="icofont-music-note" style="color: #5e5e5e;"></i>
              <h4><a href="#">Modern Audio Systems</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
              <i class="icofont-earth" style="color: #3145fa;"></i>
              <h4><a href="#">Magni Dolore</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
              <i class="icofont-tasks-alt" style="color: #a00098;"></i>
              <h4><a href="#">Eiusmod Tempor</a></h4>
              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div> -->
        </div>
      </div>
    </section><!-- End Services Section -->

    

    <!-- Gallery -->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-interval="3000" data-ride="carousel">
      <!-- Carousel indicators -->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for carousel items -->
      <div class="carousel-inner">
        <div class="carousel-item active">
              <img src="assets/image/portfolio/E1.jpg" alt="First Slide" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
          </div>
          <div class="carousel-item">
              <img src="assets/image/portfolio/E2.jpg" alt="Second Slide" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
          </div>
          <div class="carousel-item">
              <img src="assets/image/portfolio/E3.jpg" alt="Third Slide" style="height: 550px;">
              <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
          </div>
      </div>
      
  </div>
  <!-- End of gallary -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-down">
          <span>EXPERIENCE CENTER</span>
          <h2>EXPERIENCE CENTER</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-xl-7 pt-4 pt-lg-0 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center" data-aos="fade-left">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Corporis voluptates sit</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Ullamco laboris nisi</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
          <div style="background-image: url(assets/image/Hero-Bg1.jpg)" data-aos="fade-right" class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Contact Us Section ======= -->    
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-down">
          <span>Contact Us</span>
          <h2>Contact Us</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>Sales : </p>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Technical Support</h3>
              <p>support@digitalliving.lk<br></p>
            </div>
          </div>
          
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6">
              <!--Google map-->
              <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.0614190400215!2d79.89460761381599!3d6.883246295026092!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25b0bc8f70e23%3A0x689757f8fc743a29!2sDigital%20Living%20Office!5e0!3m2!1sen!2slk!4v1596686200403!5m2!1sen!2slk" frameborder="0"
                style="border:0" allowfullscreen></iframe>
              </div>
          </div>
          <div class="col-md-6">
            <div class="info-box">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4" data-aos="fade-up" data-aos-delay="400">
                <div class="form-row">
                  <div class="form-group col-lg-12 d-flex flex-column">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-lg-12 d-flex flex-column">
                    <input type="tel" name="phone" class="form-control" id="phone" placeholder="Your Phone No" data-rule="minlen:4" data-msg="Please enter at least 10 chars" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-lg-12 d-flex flex-column">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group ">
                    <label class="radio-inline">
                      <input type="radio" name="client-type" id="end-client" value="end-client" checked>  End-client
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="client-type" id="reseller" value="reseller">  Reseller
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="client-type" id="installer" value="installer">  Installer
                    </label>
                    <div class="validate"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validate"></div>
                </div>
                <div class="mb-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Us Section -->
